@import '../_variables';

.nav {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 60px;
  font-weight: bold;
  background-image: linear-gradient(to right, #ffffff, #ffffff);
}

#navBtn {
  top: -100px;
  position: fixed;
  opacity: 0;
  display: block;
  height: 0;
  width: 0;
}

.nav-btn {
  display: none;
}

.nav-logo {
  margin-top: 35px;
  height: 80px;
  width: 80px;
  font-size: 30px;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu-item {
  letter-spacing: 0.1em;
  text-decoration: none;
  margin: 0 20px;
  color: #000000;
}

.nav-menu-item:hover {
  cursor: pointer;
}

.nav-menu-item-sign {    
  letter-spacing: 0.1em;    
  text-decoration: none;    
  width: 135px;    
  height: 39px;    
  margin: 0 20px;      
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 -2px 2px rgba(255, 255, 255, 0.5); /* 增加阴影和光照效果 */    
  border-radius: 4px; /* 圆角边框 */    
 
  font-size: 26px; /* 设置字号大小 */  
  text-align: center;  
  margin-left: 30px;  
  transition: all 0.3s ease;    
}    
  
.nav-menu-item-sign:hover {    
  background-color: #FF9900; /* 更亮的鼠标悬停背景颜色 */    
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 -4px 6px rgba(255, 255, 255, 0.5); /* 更明显的阴影和光照效果 */    
}


@media screen and (max-width: 1023px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: rgba(255, 255, 255, 0.9);
    z-index: 99;
  }

  .body {
    padding-top: 60px;
  }

  .nav-menu {
    position: fixed;
    top: 60px;
    bottom: 0;
    height: 0;
    transition: height 200ms ease-out;
    left: 0;
    right: 0;
    z-index: 4;
    background: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
  }

  .nav-menu-item {
    margin: 10px 0;
    text-decoration: none;
  }

  .nav {
    justify-content: center;
  }

  .nav-logo {
    height: 40px;
    width: 40px;

    img {
      height: 40px;
      width: 40px;
    }
  }

  .nav-btn {
    display: block;
    position: absolute;
    left: 0;
    padding: 10px 20px;
    height: 40px;
    width: 40px;

    &::before, &::after {
      transition: transform 200ms ease-out;
      content: '';
      background: $black-dim;
      width: 30px;
      height: 2px;
      border-radius: 1px;
      position: absolute;
    }

    &::before {
      top: 25px;
    }

    &::after {
      bottom: 25px;
    }
  }

  #navBtn:checked ~ .nav-menu {
    height: 100%;
  }

  #navBtn:checked ~ .nav-btn {
    &::before {
      transform: translateY(4px) rotateZ(45deg);
    }

    &::after {
      transform: translateY(-4px) rotateZ(-45deg);
    }
  }
}