<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf8"/>
    <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
    <title>
      {% if is_home() %}
        {{ config.title }}
      {% elif is_post() %}
        {{ page.title }} | {{ config.title }}
      {% elif is_tag() %}
        {{ page.tag }} | {{ config.title }}
      {% else %}
        {{ page.title }} | {{ config.title }}
      {% endif %}
    </title>
    <meta name="description" content="{{ config.description }}"/>
    <meta name="keywords" content="{{ config.keywords }}"/>
    {% if theme.favicon.apple_touch_icon %}
      <link rel="apple-touch-icon"
            sizes="180x180"
            href="{{ url_for(theme.favicon.apple_touch_icon) }}"/>
    {% endif %}
    {% if theme.favicon.medium %}
      <link rel="icon"
            type="image/png"
            sizes="32x32"
            href="{{ url_for(theme.favicon.medium) }}"/>
    {% endif %}
    {% if theme.favicon.small %}
      <link rel="icon"
            type="image/png"
            sizes="16x16"
            href="{{ url_for(theme.favicon.small) }}"/>
    {% endif %}
    {% if theme.favicon.safari_pinned_tab %}
      <link rel="mask-icon"
            href="{{ url_for(theme.favicon.safari_pinned_tab) }}"
            color="{{ theme.android_chrome_color }}"/>
    {% endif %}
    {% if theme.favicon.android_manifest %}
      <link rel="manifest" href="{{ url_for(theme.favicon.android_manifest) }}"/>
    {% endif %}
    {% if theme.zh_font.enable %}
      {% include('./components/font.njk') %}
    {% endif %}
    <link rel="stylesheet"
          type="text/css"
          href='{{ url_for("/css/layout.css") }}'/>
    {% if theme.baidu_analytics %}
      <script>
        var _hmt = _hmt || [];
        (function () {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?{{theme.baidu_analytics}}";
          var s = document.getElementsByTagName("script")[0];
          s
            .parentNode
            .insertBefore(hm, s);
        })();
      </script>
    {% endif %}
    {% block link %}{% endblock link %}
  </head>
  <body>
    <div class="head">
      <div class="nav">
        <a href='{{ url_for("/") }}' class="nav-logo">
          <!--<img alt="logo" height="60px" width="60px" src="{{ url_for(theme.logo) }}"/>-->
          首页
        </a>
        <input id="navBtn" type="checkbox"/>
        <div class="nav-menu">
          {% if theme.subpage.enable %}
            {% for nav in theme.subpage.pages %}
                  <a href="{{ url_for(nav.path or nav.name) }}" class="nav-menu-item">{{ nav.title }}</a>
            {% endfor %}
              <a class="nav-menu-item-sign" href="https://ourspark.feel.ac.cn/index">作品提交</a>
          {% endif %}
        </div>
        <label class="nav-btn" for="navBtn"></label>
      </div>
    </div>
    <div class="body">
      {% block body %}{% endblock body %}
    </div>
    <div class="foot">
      <div class="foot-inner">
        <div class="foot__head">
          {% for line in theme.foot.title %}
            <div class="foot-line">
              {% for word in line %}
                <div class="matts">{{ word }}</div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
        <div class="foot__body">
          {% if theme.links %}
            <div class="foot-item">
              <div class="foot-item__head">朋友</div>
              <div class="foot-item__body">
                {% for link in theme.links %}
                  <div class="text">
                    <img alt="link" height="20px" width="20px" src="{{ url_for("/images/icon/icon-link.svg") }}"/>
                    <a class="foot-link" href="{{ link.url }}">{{ link.name }}</a>
                  </div>
                {% endfor %}
                <div class="text">
                  <img alt="link" height="20px" width="20px" src="{{ url_for("/images/icon/icon-link+.svg") }}"/>
                  <a class="foot-link"
                     href="mailto:{{ theme.email }}?subject=%E7%94%B3%E8%AF%B7%20Hozen.site%20%E7%9A%84%E5%8F%8B%E9%93%BE%E4%BD%8D%E7%BD%AE">
                  申请友链</a>
                </div>
              </div>
            </div>
          {% endif %}
          {% if theme.social %}
            <div class="foot-item">
              <div class="foot-item__head">账号</div>
              <div class="foot-item__body">
                {% for link in theme.social %}
                  <div class="text">
                    <img alt="link" height="20px" width="20px" src="{{ url_for(link.icon) }}"/>
                    <a class="foot-link" href="{{ link.url }}">{{ link.name }}</a>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
          <div class="foot-item">
            <div class="foot-item__head">联系</div>
            <div class="foot-item__body">
              <div class="text">
                <img alt="link" height="20px" width="20px" src="{{ url_for("/images/icon/icon-email.svg") }}"/>
                <a class="foot-link" href="mailto:{{ theme.email }}">{{ theme.email }}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright">
          <a href="{{ config.url }}">{{ config.title }}</a> &nbsp;|&nbsp;由&nbsp;<a href="https://hexo.io/">Hexo</a>&nbsp;驱动
        </div>
      </div>
    </div>
    {% if theme.mathjax %}
      <script src="https://unpkg.com/js-polyfills@0.1.43/es6.js"></script>
      <script id="MathJax-script"
              async
              src="https://www.unpkg.com/mathjax@3.2.2/es5/tex-mml-chtml.js"></script>
    {% endif %}
    {% block script %}{% endblock script %}
  </body>
</html>